## Simpler Returns - Part I

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
MSFT = wb.DataReader('MSFT', data_source='yahoo', start='1995-1-1')
MSFT

C:\ProgramData\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,3.843750,3.757812,3.843750,3.761719,39545600.0,2.413537
1995-01-04,3.796875,3.718750,3.765625,3.789062,51611200.0,2.431082
1995-01-05,3.812500,3.710938,3.804688,3.726562,39824000.0,2.390982
1995-01-06,3.828125,3.734375,3.742188,3.789062,46681600.0,2.431082
1995-01-09,3.812500,3.734375,3.804688,3.765625,46000000.0,2.416045
...,...,...,...,...,...,...
2020-05-04,179.000000,173.800003,174.490005,178.839996,30372900.0,178.839996
2020-05-05,183.649994,179.899994,180.619995,180.759995,36839200.0,180.759995
2020-05-06,184.199997,181.630005,182.080002,182.539993,32139300.0,182.539993
2020-05-07,184.550003,182.580002,184.169998,183.600006,28316000.0,183.600006
2020-05-08,185.000000,183.360001,184.979996,184.679993,30877800.0,184.679993

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [2]:
MSFT.head()

                High       Low      Open     Close      Volume  Adj Close
Date
1995-01-03  3.843750  3.757812  3.843750  3.761719  39545600.0   2.413537
1995-01-04  3.796875  3.718750  3.765625  3.789062  51611200.0   2.431082
1995-01-05  3.812500  3.710938  3.804688  3.726562  39824000.0   2.390982
1995-01-06  3.828125  3.734375  3.742188  3.789062  46681600.0   2.431082
1995-01-09  3.812500  3.734375  3.804688  3.765625  46000000.0   2.416045

In [3]:
MSFT.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-05-04,179.000000,173.800003,174.490005,178.839996,30372900.0,178.839996
2020-05-05,183.649994,179.899994,180.619995,180.759995,36839200.0,180.759995
2020-05-06,184.199997,181.630005,182.080002,182.539993,32139300.0,182.539993
2020-05-07,184.550003,182.580002,184.169998,183.600006,28316000.0,183.600006
2020-05-08,185.000000,183.360001,184.979996,184.679993,30877800.0,184.679993

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [4]:
MSFT['simple_return'] = (MSFT['Adj Close'] / MSFT['Adj Close'].shift(1)) - 1
print(MSFT['simple_return'])

Date
1995-01-03         NaN
1995-01-04    0.007269
1995-01-05   -0.016495
1995-01-06    0.016771
1995-01-09   -0.006185
                ...
2020-05-04    0.024460
2020-05-05    0.010736
2020-05-06    0.009847
2020-05-07    0.005807
2020-05-08    0.005882
Name: simple_return, Length: 6383, dtype: float64