## Importing and Organizing Your Data in Python - Part III

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Import the 'example 01' file you created in the previous lecture and set the 'Date' column as an index of that table. 
Remember that there are two possible answers to this question.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('C:/Users/USER/Documents/Udemy Python for Finance/58 Importing Data - Part IV/CSV/Python 3 CSV/example_01.csv', index_col = 'Date')

In [3]:
data

                Value
Date
1947-01-01    243.164
1947-04-01    245.968
1947-07-01    249.585
1947-10-01    259.745
1948-01-01    265.742
...               ...
2019-01-01  21098.827
2019-04-01  21340.267
2019-07-01  21542.540
2019-10-01  21729.124
2020-01-01  21537.940

[293 rows x 1 columns]

In [5]:
data = pd.read_csv('C:/Users/USER/Documents/Udemy Python for Finance/58 Importing Data - Part IV/CSV/Python 3 CSV/example_01.csv')

In [6]:
data = data.set_index('Date')
data

                Value
Date
1947-01-01    243.164
1947-04-01    245.968
1947-07-01    249.585
1947-10-01    259.745
1948-01-01    265.742
...               ...
2019-01-01  21098.827
2019-04-01  21340.267
2019-07-01  21542.540
2019-10-01  21729.124
2020-01-01  21537.940

[293 rows x 1 columns]