## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

C:\ProgramData\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
tickers = ['MSFT', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                  MSFT        AAPL
Date
2020-05-04  178.839996  292.368561
2020-05-05  180.759995  296.756683
2020-05-06  182.539993  299.818390
2020-05-07  183.600006  302.919983
2020-05-08  184.679993  310.130005

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009736  0.004926
2007-01-09  0.001002  0.079800
...              ...       ...
2020-05-04  0.024166  0.014050
2020-05-05  0.010679  0.014897
2020-05-06  0.009799  0.010264
2020-05-07  0.005790  0.010292
2020-05-08  0.005865  0.023523

[3361 rows x 2 columns]

### MSFT

Daily risk:

In [7]:
sec_returns['MSFT'].std()

0.017879715572018107

Annual risk:

In [8]:
sec_returns['MSFT'].std() * 250 ** 0.5

0.28270312561778776

### Apple

Daily risk:

In [9]:
sec_returns['AAPL'].std()

0.02039762590330338

Annual risk:

In [10]:
sec_returns['AAPL'].std() * 250 ** 0.5

0.3225147835724407

******

Store the volatilities of the two stocks in an array called “vols”.

In [13]:
vols = sec_returns[['MSFT','AAPL']].std() * 250 ** 0.5
vols

MSFT    0.282703
AAPL    0.322515
dtype: float64

How are the two risk values different?