## Monte Carlo - Black-Scholes-Merton

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

We have written a few lines of code that will import the documents you need and define the functions estimating d1, d2, and the Black-Scholes-Merton formula.

In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
from scipy.stats import norm

ticker = 'MSFT'  
data = pd.DataFrame()  
data[ticker] = wb.DataReader(ticker, data_source='yahoo', start='2000-1-1')['Adj Close']
data

C:\ProgramData\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

                  MSFT
Date
1999-12-31   37.453701
2000-01-03   37.393559
2000-01-04   36.130390
2000-01-05   36.511333
2000-01-06   35.288280
...                ...
2020-05-07  183.600006
2020-05-08  184.679993
2020-05-11  186.740005
2020-05-12  182.509995
2020-05-13  178.630005

[5124 rows x 1 columns]

In [3]:
def d1(S, K, r, stdev, T):
    return (np.log(S / K) + (r + stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))
 
def d2(S0, K, r, sigma, T):
    return (np.log(S / K) + (r - stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))

def BSM(S, K, r, stdev, T):
        return (S * norm.cdf(d1(S, K, r, stdev, T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r, stdev, T)))

Store the annual standard deviation of the log returns in a variable, called “stdev”.

In [4]:
log_returns = np.log(1 + data.pct_change())

In [6]:
log_returns.tail()

                MSFT
Date
2020-05-07  0.005790
2020-05-08  0.005865
2020-05-11  0.011093
2020-05-12 -0.022912
2020-05-13 -0.021488

In [7]:
stdev = log_returns.std() * 250 ** 0.5
stdev

MSFT    0.308489
dtype: float64

Set the risk free rate, r, equal to 2.5% (0.025); the strike price, K, equal to 110.0; and the time horizon, T, equal to 1, respectively.

In [8]:
r = 0.025
K = 110.0
T = 1

Create a variable S equal to the last adjusted closing price of Microsoft. Use the “iloc” method.

In [9]:
S = data.iloc[-1]
S

MSFT    178.630005
Name: 2020-05-13 00:00:00, dtype: float64

Call the d1 and d2 functions with the relevant arguments to obtain their values.

In [10]:
d1(S, K, r, stdev, T)

MSFT    1.806935
dtype: float64

In [11]:
d2(S, K, r, stdev, T)

MSFT    1.498446
dtype: float64

Use the BSM function to estimate the price of a call option, given you know the values of S, K, r, stdev, and T.

In [12]:
BSM(S, K, r, stdev, T)

MSFT    72.21384
Name: 2020-05-13 00:00:00, dtype: float64