## Use Conditional Statements and Loops Together

Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.

In [6]:
x = range(1,10)
for n in x:
    print(n*2, end = " ")

2 4 6 8 10 12 14 16 18

In [5]:
x = range(1,10)
for n in range(len(x)):
    print(x[n]*2, end = " ")

2 4 6 8 10 12 14 16 18

Create a little program that runs a loop over all values from 1 to 30. Let it print all Odd numbers, and in the place of the even numbers, it should print "Even".
Help yourself with the range() function to solve this exercise.

In [12]:
for n in range(1,31):
    if n % 2 == 0:
        print("Even", end = " ")
    else:
        print(n, end = " ")

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10.
Find two solutions of this problem.

In [13]:
n = [1,2,3,4,5,6]

In [14]:
for x in n:
    print(x*10, end = " ")

10 20 30 40 50 60

In [15]:
for x in range(len(n)):
    print(n[x]*10, end = " ")

10 20 30 40 50 60