## Calculating the Beta of a Stock

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Obtain data for Microsoft and S&P 500 for the period 1st of January 2012 – 31st of December 2016 from Yahoo Finance.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

tickers = ['MSFT', '^GSPC']
data = pd.DataFrame()
for t in tickers:
    data[t] = wb.DataReader(t, data_source='yahoo', start='2012-1-1', end='2016-12-31')['Adj Close'] # add 'end'   
data

C:\ProgramData\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

                 MSFT        ^GSPC
Date
2012-01-03  22.020796  1277.060059
2012-01-04  22.539021  1277.300049
2012-01-05  22.769344  1281.060059
2012-01-06  23.123066  1277.810059
2012-01-09  22.818701  1280.699951
...               ...          ...
2016-12-23  59.756943  2263.790039
2016-12-27  59.794735  2268.879883
2016-12-28  59.520710  2249.919922
2016-12-29  59.435673  2249.260010
2016-12-30  58.717522  2238.830078

[1258 rows x 2 columns]

Let S&P 500 act as the market.

*****

Calculate the beta of Microsoft.

In [2]:
sec_returns = np.log(data / data.shift(1))
sec_returns

                MSFT     ^GSPC
Date
2012-01-03       NaN       NaN
2012-01-04  0.023261  0.000188
2012-01-05  0.010167  0.002939
2012-01-06  0.015416 -0.002540
2012-01-09 -0.013250  0.002259
...              ...       ...
2016-12-23 -0.004890  0.001251
2016-12-27  0.000632  0.002246
2016-12-28 -0.004593 -0.008392
2016-12-29 -0.001430 -0.000293
2016-12-30 -0.012156 -0.004648

[1258 rows x 2 columns]

In [3]:
cov = sec_returns.cov() * 250
cov

           MSFT     ^GSPC
MSFT   0.053781  0.018213
^GSPC  0.018213  0.016362

In [6]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.018212766716334847

In [7]:
market_var = sec_returns['^GSPC'].var() * 250
market_var

0.016361631002308474

** Beta: **
### $$ 
\beta_{pg} = \frac{\sigma_{pg,m}}{\sigma_{m}^2}
$$

In [8]:
MSFT_beta = cov_with_market / market_var
MSFT_beta

1.1131388254487096