In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

tickers = ['PG', '^GSPC']
data = pd.DataFrame()
for t in tickers:
    data[t] = wb.DataReader(t, data_source='yahoo', start='2012-1-1', end='2016-12-31')['Adj Close'] # add 'end'   
data

                   PG        ^GSPC
Date
2012-01-03  51.265831  1277.060059
2012-01-04  51.242809  1277.300049
2012-01-05  51.028008  1281.060059
2012-01-06  50.905285  1277.810059
2012-01-09  51.120060  1280.699951
...               ...          ...
2016-12-23  76.435783  2263.790039
2016-12-27  76.111885  2268.879883
2016-12-28  75.635086  2249.919922
2016-12-29  75.886978  2249.260010
2016-12-30  75.644073  2238.830078

[1258 rows x 2 columns]

In [4]:
sec_returns = np.log(data / data.shift(1))
sec_returns

                  PG     ^GSPC
Date
2012-01-03       NaN       NaN
2012-01-04 -0.000449  0.000188
2012-01-05 -0.004201  0.002939
2012-01-06 -0.002408 -0.002540
2012-01-09  0.004210  0.002259
...              ...       ...
2016-12-23  0.005784  0.001251
2016-12-27 -0.004247  0.002246
2016-12-28 -0.006284 -0.008392
2016-12-29  0.003325 -0.000293
2016-12-30 -0.003206 -0.004648

[1258 rows x 2 columns]

In [5]:
# Count Covariance between P&G and the S&P 500
cov = sec_returns.cov() * 250
cov

             PG     ^GSPC
PG     0.020409  0.010078
^GSPC  0.010078  0.016362

In [6]:
# Count Covariance between the stock of the S&P 500 and the market
cov_with_market = cov.iloc[0,1]
cov_with_market

0.010078060959412657

In [7]:
# Count the annual sized variance of the S&P 500
market_var = sec_returns['^GSPC'].var() * 250
market_var

0.016361631002308474

** Beta: **
We calculate its beta and we will approximate the development of the market with the S&P 500 index.
### $$ 
\beta_{pg} = \frac{\sigma_{pg,m}}{\sigma_{m}^2}
$$

In [8]:
# This value is greater than zero but smaller than 1.
# This means P and g is a defensive stock when the market goes up P and GS equity value will not skyrocket
# while in times of crises you will typically lose less.
PG_beta = cov_with_market / market_var
PG_beta

0.6159569885172655